
<div class="footer-top">
  <div class="footer-top-content">
    <div class="container d-flex p-8">
      <div class="row d-flex">
        <div class="col-12 col-md-6">
          <h5>ABOUT</h5>
          <p>Ullamco id nisi est aute sunt dolore aute enim irure non officia aute eu deserunt veniam cillum dolor enim dolor velit occaecat nulla dolor enim fugiat fugiat id mollit proident laborum est consectetur pariatur dolor.</p>
        </div>
        <div class="col-12 col-md-6">
          <h5>OR-PR</h5>
          <div class="d-flex">
              <ul class="list-unstyled" id="ul-margin-right">
                <li><%= link_to "About", "/about.html" %></li>
                <li><%= link_to "Contatti", "/contact.html" %></li>
                <li><%= link_to "Servizi", "/services.html" %></li>
              </ul>

              <ul class="list-unstyled">
                <li> <%= link_to "Lavori", "/works.html" %></li>
                <li><%= link_to "Pubblicazioni", "/editorials.html" %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
