---
title: Olimpia Rospigliosi Agency - About
---

<!-- <div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->

<div class="banner banner-img">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-lg-offset-3">
        <div id="about-title">
          <h3 class="h3-responsive">OR - Olimpia Rospigliosi Pr & Communicazione</h3>
        </div>
        <div id="about-text">
          <p class="p-responsive">Ufficio Stampa Moda – Design – Lifestyle
            Organizzazione Eventi e Mostre - Consulenza d’Immagine
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-profile">
  <div class="container">
    <div class="row d-flex">
      <div class="col-xs-12 col-md-6 kill-padding-lr">
       <%= image_tag "about_profile.jpg", class:"w-100" %>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr">
        <div class="box-content">

          <div class="content-about text-center">
            <div>
              <h2>Olimpia Rospigliosi</h2>
            </div>
            <div>
              <h5>Profilo</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>La vita di Olimpia Rospigliosi è un viaggio. Un itinerario che le ha permesso di mettere in atto tutto quello che, fino ad oggi, ha costruito. Trascorre l’infanzia a Parigi, dove dal suo appartamento in Avenue Montaigne, all’interno dell’ottavo arrondissement, viene introdotta in ambienti in cui il bon vivre e storie da raccontare erano protagonisti. La moda e l’arte sono le pratiche che l’affascinano di più e con le quali si è da subito confrontata. Ecco perché Milano si rivela essere la città giusta. Appena trasferita lavora nell’ufficio del prestigioso fondo di investimenti L Capital, gruppo Louis Vuitton Moet Hennessy. L’esperienza è fondamentale, non solo per affinare le tecniche relative alle strategie di comunicazione, ma anche quelle di investimento, cruciali per quello che sarà il suo studio di Pubbliche Relazioni, il quale viene inaugurato dieci anni fa, dopo un’altra importante esperienza presso l’ufficio stampa della Camera Nazionale della Moda Italiana. Sia nella moda, che nell’arte. Inizia a fare da talent scout e da ufficio stampa per giovani designer: lancia marchi come Chrissie Morris e Salar. Scopre il marchio Kinloch, di cui cura le relazioni pubbliche e l’immagine, ed individua un investitore per il brand, oggi venduto in tutto il mondo, soprattutto in Giappone. Si susseguono Walter De Silva, Agalma Medusae e Rosa Castelbarco, entrambe designer di gioielli made in Italy.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-agency">
  <div class="container d-flex">
    <div class="row">
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <div class="box-content">
          <div class="content-about text-center">
            <div>
              <h2>OR PR</h2>
            </div>
            <div>
              <h5>L'agenzia</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
                Situato a Milano, nella centralissima Piazza Borromeo, al numero 10, l’ufficio stampa offre una molteplicità di servizi, per marchi di moda, lifestyle, e design, avvalendosi di esperti collaboratori per creare un team personalizzato per i propri clienti.
              </p>
              <br>
              <p>
                Una parte dello spazio ospita mostre di arte, design, presentazioni.

              </p>
            </div>
        </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <%= image_tag "about_life.jpg", class:"w-100" %>
      </div>
    </div>

  </div>
</div>
