---
title: Olimpia Rospigliosi Agency - About
---

<!-- <div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->

<div class="banner banner-img">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-lg-offset-3">
        <div id="about-title">
          <h3 class="h3-responsive">About OR Pr & Communication</h3>
        </div>
        <div id="about-text">
          <p class="p-responsive">Lorem ipsum sunt ea id et ea elit amet id adipisicing sed dolor culpa sit dolor eu deserunt culpa sed nisi dolore quis aliqua nostrud eu ut ex quis ad officia ex nostrud et duis occaecat officia fugiat amet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-profile">
  <div class="container">
    <div class="row d-flex">
      <div class="col-xs-12 col-md-6 kill-padding-lr">
       <%= image_tag "about_profile.jpg", class:"w-100" %>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr">
        <div class="box-content">

          <div class="content-about text-center">
            <div>
              <h2>Olimpia Rospigliosi</h2>
            </div>
            <div>
              <h5>Profilo</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>Emanuela Schmeidler, began her career as Head of PR at the side of Gianni Versace helping to transform the Brand into a Made in Italy style icon in the International market. After 15 years experience as Versace Group PR & Communication Director she moved on Condé Nast Publications, opening the PR & Special Events division for Vogue Italy, contributing, at the side of Franca Sozzani, to plan the branding: events, PR, Presse and Special Projects. Thanks to her extensive experience in the luxury and fashion market and thanks to the excellent relations with Italian and international media, Emanuela Schmeidler decided to open her agency to offer to clients Marketing and Communication full-services range. The Agency philosophy and the personalized approach to projects carried out by Emanuela Schmeidler, allowed her Clients to position their Brand in the markets reconfirming their dignity and a story to go. Thanks to a professional team at her side, Emanuela Schmeidler offers a complete customized strategy that includes the study of Brand Positioning, corporate marketing consulting, media relations and events planning
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-agency">
  <div class="container d-flex">
    <div class="row">
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <div class="box-content">
          <div class="content-about text-center">
            <div>
              <h2>OR PR</h2>
            </div>
            <div>
              <h5>L'azienda</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
                ES PR is an international public relations and strategic brand development agency for the world’s best luxury, fashion, beauty, lifestyle, art and design industry leaders.
              </p>
              <br>
              <p>
                We pride ourselves on building strong, long-term partnerships with our clients thanks to a passionate, creative and committed work ethos across all of our divisions. We believe in public relations as a highly effective driver of business growth and an integral component of the marketing mix.
              </p>
            </div>
        </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <%= image_tag "about_life.jpg", class:"w-100" %>
      </div>
    </div>

  </div>
</div>
