---
title: OR - Olimpia Rospigliosi Agency | Relazioni Pubbliche & Comminicazioni
---

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "Press_office.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Press Office & Pr</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "Brand_consultancy.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Brand Consultancy</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "OR_Pr-Communication.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>OR Pr & Communication</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "Event.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Event & Production</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "Event.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Showeroom</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "Event.jpg", class:"d-block w-100 carroussel-height" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Digital Services</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>OR PR Public Relation & Communication</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>Olimpia Rospigliosi Agency</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>OR PR is an italian public relations and strategic brand development agency for the italian’s most talented luxury, fashion, lifestyle, art and design industry players.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light">We pride ourselves on building strong, long-term partnerships with our clients thanks to a passionate, creative and committed work ethos across all of our divisions. We believe in public relations as a highly effective driver of business growth and an integral component of the marketing mix.
        As such, we proudly work with our clients as a long-term strategic partner committed to conveying their brand message. Our bespoke level of service combined with cross-sector experience and relationships of unparalleled quality gives our clients the edge to deliver their compelling stories to the market through the most effective channels. OR_PR has proven its ability to help brands grow to become leaders in the fashion, beauty and luxury markets. Our hallmark is the level of highly individualized service that we give to every client. OR_PR believes in a comprehensive style that embraces brand strategy, press and communications, celebrity dressing, social media, special events, sales relationships, regional outreach, brand ambassadors, media planning and international partners to help meet and exceed our clients’ goals.
        </p>
      </div>
      </div>
  </div>
</div>

<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom">
    <div>
      <h3>Recent Events</h3>
    </div>
    <div class="cards-events">

    </div>
  </div>

</div>


