---
title: Olimpia Rospigliosi Agency - Services
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & Pr</h2>
      <p>Redazione di comunicati stampa per le testate cartacee e online più prestigiose di moda, design, lifestyle, e product placement in programmi televisivi, cinema e fotografia.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108652/sito/Servizi/1.pressoffice_digitalpr____lb0job.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108856/sito/Servizi/2.organizzazioneeventi_qqfcfk.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Organizzazione eventi</h2>
      <p>Presentazioni nuove collezioni, eventi social, press day. Realizzazione dell’intero evento, creazione guest list, comunicazione press.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Supporto commerciale</h2>
      <p>Consulenza sul posizionamento di mercato, oltre che inserimento a fiere ed eventi per promuovere il proprio marchio di moda.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108884/sito/Servizi/3.supportocommerciale_fgvjxo.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108911/sito/Servizi/4.scouting_wfy4fv.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Scouting di new talents</h2>
      <p>Ricerca nuovi talents di moda, partecipazione a concorsi, inserimento a fiere, eventi.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Consulenza d’Immagine</h2>
      <p>Costruzione dell’immagine e strategia di comunicazione. Realizzazione di shooting con i migliori fotografi e stylists di settore.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108938/sito/Servizi/5.consulenzadimmagine_ou1kbf.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108944/sito/Servizi/6.showroom_u9eajd.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Showroom e Mostre</h2>
      <p>Nel suo spazio milanese vengono esposte le collezioni di vari stilisti e designers, ed offre la possibilità di ospitare mostre, seguendone la completa organizzazione, e la guest list.
      </p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Social Media Management & Web Pr</h2>
      <p>Creazione di Profili Social, e comunicazione di prodotto a webzine, blogger, magazine online.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561109704/sito/Servizi/3_049_s0kqap.jpg", id: "img-services" %>
    </div>
  </div>
</div>


