---
title: Olimpia Rospigliosi Agency - Services
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Brand Consultancy</h2>
      <p>The agency works on brand repositioning planning a global image strategy in order to develop an increase in worldwide brand visibility.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & P.R</h2>
      <p>ES Pr takes care of brand’s institutional and product communication, supervising a strategic international media plan. We focus on create and consolidate strong relationship with top international and Italian pressin order to ensure our clients the best press coverage.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Brand Consultancy</h2>
      <p>The agency works on brand repositioning planning a global image strategy in order to develop an increase in worldwide brand visibility.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & P.R</h2>
      <p>ES Pr takes care of brand’s institutional and product communication, supervising a strategic international media plan. We focus on create and consolidate strong relationship with top international and Italian pressin order to ensure our clients the best press coverage.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Brand Consultancy</h2>
      <p>The agency works on brand repositioning planning a global image strategy in order to develop an increase in worldwide brand visibility.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & P.R</h2>
      <p>ES Pr takes care of brand’s institutional and product communication, supervising a strategic international media plan. We focus on create and consolidate strong relationship with top international and Italian pressin order to ensure our clients the best press coverage.</p>
    </div>
  </div>
</div>


