---
title: Olimpia Rospigliosi Agency - Services
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & Pr</h2>
      <p>redazione di comunicati stampa per le testate cartacee e online più prestigiose di moda, design, lifestyle, e product placement in programmi televisivi, cinema e fotografia.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Organizzazione eventi</h2>
      <p>presentazioni nuove collezioni, eventi social, press day. Realizzazione dell’intero evento, creazione guest list, comunicazione press.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Supporto commerciale</h2>
      <p>consulenza sul posizionamento di mercato, oltre che inserimento a fiere ed eventi per promuovere il proprio marchio di moda.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Scouting di designers emergenti</h2>
      <p>ricerca nuovi talents di moda, partecipazione a concorsi, inserimento a fiere, eventi.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Consulenza d’Immagine</h2>
      <p>costruzione dell’immagine e strategia di comunicazione. Realizzazione di shooting con i migliori fotografi e stylists di settore.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(67).jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Showroom e Spazio Espositivo</h2>
      <p>Nel suo spazio milanese vengono esposte le collezioni di vari stilisti e designers, ed offre la possibilità di ospitare mostre, seguendone la completa organizzazione, e la guest list.
      </p>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Social Media Management & Web Pr</h2>
      <p>Creazione di Profili Social, e comunicazione di prodotto a webzine, blogger, magazine online.
      </p>
    </div>
  </div>
</div>


